USE [CineAimane]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 1/20/2023 5:45:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[ReleaseDate] [datetime2](7) NOT NULL,
	[Genres] [nvarchar](max) NOT NULL,
	[Duration] [nvarchar](max) NOT NULL,
	[Rating] [int] NOT NULL,
	[Director] [nvarchar](max) NOT NULL,
	[Cast] [nvarchar](max) NOT NULL,
	[Poster] [nvarchar](max) NOT NULL,
	[Backdrop] [nvarchar](max) NOT NULL,
	[Trailer] [nvarchar](max) NOT NULL,
	[Overview] [nvarchar](max) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Movies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Movies] ON 

SET IDENTITY_INSERT [dbo].[Movies] OFF
GO
