@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Http
@inject IOptions<StripeSettings> stripeSettings
@inject IHttpContextAccessor httpContextAccessor
@model CheckoutViewModel
@{
	ViewData["Title"] = "Checkout";
	ViewData["NavbarStyle"] = "bg-white border-bottom";
}
<partial name="_HomeNavbarPartial" />
<div class="padding-top min-vh-100">
	<div class="container my-4">
		<div class="section-title d-flex align-items-center gap-4 mb-3" data-aos="fade-up">
			<h2 class="text-uppercase fw-bold flex-shrink-0 mb-0">Checkout</h2>
			<div class="line"></div>
		</div>
		<div class="row mt-4">
			<div class="col-md-7 col-lg-9 mb-4 mb-md-0 order-1">
				<div class="box rounded-1 border overflow-hidden">
					<div class="box-header p-3 bg-white border-bottom">
						<h4 class="fw-semibold mb-0 text-uppercase text-primary">Contact <span class="text-black">Details</span></h4>
					</div>
					<div class="box-body p-3 bg-light-subtle">
						<form method="POST" asp-controller="Home" asp-action="CheckoutPost" autocomplete="off">
							<div class="row g-2 mb-2">
								<div class="col-lg-12">
									<label asp-for="FirstName" class="form-label fw-medium">First name <span class="text-danger">*</span></label>
									<div class="position-relative">
										<input asp-for="FirstName" type="text" class="form-control form-control-lg" placeholder="Enter your first name here">
										<div class="form-control-icon">
											<i class='bx bx-user'></i>
										</div>
									</div>
									<span asp-validation-for="FirstName" class="text-danger d-block mt-2"></span>
								</div>
								<div class="col-lg-12">
									<label asp-for="LastName" class="form-label fw-medium">Last name <span class="text-danger">*</span></label>
									<div class="position-relative">
										<input asp-for="LastName" type="text" class="form-control form-control-lg" placeholder="Enter your last name here">
										<div class="form-control-icon">
											<i class='bx bx-user'></i>
										</div>
									</div>
									<span asp-validation-for="LastName" class="text-danger d-block mt-2"></span>
								</div>
							</div>
							@*<div class="mb-3">
								<label asp-for="Email" class="form-label fw-medium">Email address <span class="text-danger">*</span></label>
								<div class="position-relative">
									<input asp-for="Email" type="email" class="form-control form-control-lg" placeholder="Enter your email address here">
									<div class="form-control-icon">
										<i class='bx bx-envelope'></i>
									</div>
								</div>
								<span asp-validation-for="Email" class="text-danger d-block mt-2"></span>
							</div>*@
							<div class="d-grid">
								<input type="submit" value="Pay" class="btn btn-lg btn-primary btn-block text-uppercase fw-semibold">
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-5 col-lg-3 order-2">
				<div class="box rounded-1 border">
					<div class="box-header p-3 bg-white border-bottom-dashed rounded-1">
						<h5 class="fw-semibold mb-0 text-uppercase text-primary">Ticket <span class="text-black">Details</span></h5>
					</div>
					<div class="box-body bg-light-subtle rounded-1 rounded-top-0 ticket">
						<div class="row gx-1 align-items-center">
							<div class="col-12 d-none">
								<div class="movie-poster">
									<img src="@ViewBag.MPoster" alt="" asp-append-version="true">
								</div>
							</div>
							<div class="col-12">
								<div class="p-3">
									<h6 class="mb-4 fw-medium text-truncate text-uppercase"><span class="me-2" style="color:#ff595e;"><i class="fa-solid fa-film"></i></span>@ViewBag.MTitle</h6>
									<h6 class="mb-4 fw-medium"><span class="me-2" style="color:#ffca3a;"><i class="fa-regular fa-calendar"></i></span>@ViewBag.Showdate</h6>
									<h6 class="mb-4 fw-medium"><span class="me-2" style="color:#8ac926;"><i class="fa-regular fa-clock"></i></span>@ViewBag.Showtime</h6>
									<h6 class="mb-0 fw-medium"><span class="me-2" style="color:#1982c4;"><i class="fa-solid fa-ticket"></i></span>$5.00</h6>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}